rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /categories/{categoryId} {
      allow read, write: if true;
    }
    match /menuItems/{itemId} {
      allow read, write: if true;
    }
    match /settings/{settingId} {
      allow read, write: if true;
    }
    match /admins/{adminId} {
      allow read, write: if true;
    }
  }
}
